# WEEK 2 DATA SCIENCE

Fokus pada minggu ini terarah pada berbagai Collection Data Type, Function dan beberapa awalan penting untuk SQL.

*   List
*   Dictionary
*   Tuple
*   Set
*   Function
*   Pengenalan terhadap SQL

## LIST

List merupakan suatu Collection Data Type terurut berdasarkan index dan dapat dipindahkan (mutable). List dinotasikan dengan kurung siku ([]).Untuk analogi mudahnya, misalnya ada 5 buah laci dengan angka 0-4, dan sebuah barang dimasukkan untuk mewakili kriteria tertentu.

Di bawah merupakan contoh dan kode untuk memberikan value untuk list baru, menampilkan value pada list, serta untuk mengetahui dan memastikan bahwa list yang disebut identity benar merupakan list.

In [1]:
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]
print(identity)
print(type(identity))

['Andreas', 27, False, 'Piano', 169.5, 27]
<class 'list'>

### INDEXING
Menginterpretasikan satu kumpulan value pada list merupakan perkara mudah, tapi untuk menampilkan satu atau sebagian value pada list adalah lain cerita. Ada beberapa cara indexing untuk list, yakni:


*   Indexing positif. Perlu diingat: index selalu dimulai dengan 0. Untuk menampilkan sebuah data pada index, kita menulis notasi kode dengan list[index]. Variasi lain melibatkan start dan stop yang menampilkan value dari index start sampai dengan stop, dan value pada stop tidak akan ditampilkan. Notasi untuk ini diberikan dengan list[index_awal: index_akhir].
*   Indexing negatif. Perbedaannya, indexing negatif dibaca dari kanan, dan indeks paling akhir biasanya diberikan dengan angka -1. Contohnya list[-1]. Index negatif dan positif dapat digabungkan dengan memberi trik start index positif dan awal index negatif. Notasinya diberikan, misalnya contohnya list[1:-1].
*   Indexing dengan satu titik dua(:) memberi notasi untuk menampilkan value pada index yang dicari dari dua cara, yaitu index awal non-0 sampai index terakhir, atau index awal sampai dengan index akhir non-0.
Dua contohnya adalah list[2:] atau list[:2].

Akan didemonstrasikan contoh-contoh untuk indexing pada kode di bawah berikut:

In [2]:
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]
print(identity[0])
print(identity[-1])
print(identity[0:2])
print(identity[3:5])
print(identity[-1])
print(identity[2:-2])
print(identity[:2])
print(identity[2:])

Andreas
27
['Andreas', 27]
['Piano', 169.5]
27
[False, 'Piano']
['Andreas', 27]
[False, 'Piano', 169.5, 27]

Untuk mengganti value pada list, ini akan dilakukan dengan 1 cara mudah, yakni memberi list sebuah value pada index yang ingin diganti.

Contoh kodenya adalah sebagai berikut:

In [3]:
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]
print(f'Identity sebelumnya: {identity}')
identity[0] = 'Thomas'
print(f'Identity sesudahnya: {identity}')

Identity sebelumnya: ['Andreas', 27, False, 'Piano', 169.5, 27]
Identity sesudahnya: ['Thomas', 27, False, 'Piano', 169.5, 27]

### FUNGSI LIST

Tidak hanya mengganti value, list mempunyai kumpulan fungsi tersendiri, yakni:


*   Append untuk menambahkan value di index paling belakang. Biasanya dinotasikan dengan nama_list(value).
*   Insert, yang fungsinya sama seperti append, tetapi perbedaannya adalah insert mempunyai indeks spesifik untuk dimasukkan.  Dinotasikan dengan nama_list(index, value).

*   Pop, yang fungsinya untuk menghapus value terakhir pada list. Dinotasikan dengan nama_list.pop().
*   Clear yang fungsinya untuk mengosongkan list. Dinotasikan dengan nama_list.clear().

Contoh-contohnya dapat dilihat di kode-kode berikut:

In [5]:
# APPEND DAN INSERT
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]
print(f'Identity awal: {identity}')
identity.append('2A')
print(f'Identity sesudah append: {identity}')
identity.insert(1, 'Male')
print(f'Identity sesudah insert pada kolom 1: {identity}')

Identity awal: ['Andreas', 27, False, 'Piano', 169.5, 27]
Identity sesudah append: ['Andreas', 27, False, 'Piano', 169.5, 27, '2A']
Identity sesudah insert pada kolom 1: ['Andreas', 'Male', 27, False, 'Piano', 169.5, 27, '2A']

In [6]:
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]
print(f'Identity awal: {identity}')
identity.pop()
print(f'Identity sesudah pop: {identity}')
identity.clear()
print(f'Identity sesudah insert pada kolom 1: {identity}')

Identity awal: ['Andreas', 27, False, 'Piano', 169.5, 27]
Identity sesudah pop: ['Andreas', 27, False, 'Piano', 169.5]
Identity sesudah insert pada kolom 1: []

### FUNGSI LAIN PADA LIST


*   For loop. Ke dalam bentuk output biasa, seluruh value pada list dapat ditampilkan pada for loop
*   In. Fungsi ini biasanya dipasangkan pada if untuk mengetahui apakah terdapat sebuah value pada list.
*   Concatenate. Fungsi ini digunakan untuk menggabungkan dua list menjadi satu list gabungan.
*   Index finding. Fungsi ini digunakan untuk mencari index yang menampung value yang diinput.



Demonstrasi kode dapat dilihat di bawah:

In [10]:
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]

# for i in range(len(identity)):
#     print(identity[i])

# atau

for i in identity:
  print(i)

Andreas
27
False
Piano
169.5
27

In [11]:
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]

if 'Piano' in identity:
  print('ada piano')
else: print('tidak ada piano')

ada piano

In [12]:
a = [1,2,3]
b = [4,5,6]

listJoined = a+b
print(listJoined)

[1, 2, 3, 4, 5, 6]

In [13]:
identity = ['Andreas', 27, False, 'Piano', 169.5, 27]
identity.index(169.5)

4

### FUNGSI LAIN PADA LIST II


*   Sort. Fungsi ini digunakan untuk mensortir abjad atau angka. Hanya digunakan pada list yang mempunyai tipe data yang sama.
*   Reverse. Fungsi yang merupakan kebalikan sort.

Demonstrasi kode dapat dilihat di bawah:

In [16]:
listAngka = [15, 12, 30, 24, 45]

listAngka.sort()
print(listAngka)
listAngka.reverse()
print(listAngka)

[12, 15, 24, 30, 45]
[45, 30, 24, 15, 12]

### NESTED / 2D LIST

List dapat menampung value yang merupakan juga list, yang disebut dengan Nested List atau 2D List. Fungsi-fungsi untuk memasukkan list ke dalam list dapat digunakan pada kode-kode yang disebutkan di atas.

In [19]:
nestedList = [['a',1],['b',2]]

print(nestedList)
print(nestedList[0][1])
print(nestedList[1][1])

[['a', 1], ['b', 2]]
1
2

## DICTIONARY

Dictionary merupakan suatu Collection Data Type tidak mempunyai index, sebagai gantinya, sistem urutan diganti dengan sebuah penanda khusus, yaitu key yang mengangkut satu value. Dictionary dinotasikan dengan kurung kurawal ({}). Untuk analogi mudahnya, misalnya ada 5 buah laci dengan tulisan sebagai berikut: nama, usia, status pernikahan, hobi, dan tinggi, dan sebuah barang dimasukkan untuk mewakili kriteria tertentu, sama seperti List. Dictionary dapat diketahui dengan adanya pasangan key-value.

Di bawah merupakan contoh dan kode untuk memberikan value untuk dict baru, menampilkan value pada dict, serta untuk mengetahui dan memastikan bahwa dict yang disebut identity benar merupakan list.

In [22]:
identity = {
    'name': 'Andreas',
    'age': 27,
    'hobby': 'Piano',
}

print(identity)
print(type(identity))

{'name': 'Andreas', 'age': 27, 'hobby': 'Piano'}
<class 'dict'>

### ADD VALUE PADA DICTIONARY

Untuk menambahkan value pada dictionary, caranya hanya dengan memasukkan sebuah key dan value baru pada dictionary dengan kode namaDict['namaKey']='namaValue'.

In [23]:
identity = {
    'name': 'Andreas',
    'age': 27,
    'hobby': 'Piano',
}

identity['gender']='Male'
print(identity)

{'name': 'Andreas', 'age': 27, 'hobby': 'Piano', 'gender': 'Male'}

### REMOVE VALUE PADA DICTIONARY

Untuk menghilangkan value pada dictionary, terdapat banyak cara, yakni


* del dan Pop untuk menghilangkan pasangan key-value pada key.
* Popitem untuk menghilangkan pasangan key-value terakhir pada dict.
* Clear untuk mengosongkan dictionary.

In [25]:
identity = {
    'name': 'Andreas',
    'age': 27,
    'hobby': 'Piano',
    'gender': 'Male',
    'class': '2A'
}

identity.popitem()
print(identity)
identity.pop('age')
print(identity)
del identity['hobby']
print(identity)
identity.clear()
print(identity)

{'name': 'Andreas', 'age': 27, 'hobby': 'Piano', 'gender': 'Male'}
{'name': 'Andreas', 'hobby': 'Piano', 'gender': 'Male'}
{'name': 'Andreas', 'gender': 'Male'}
{}

### FUNGSI LAIN PADA DICTIONARY

Sama seperti list, fungsi lain yang dapat digunakan untuk dict sebagai berikut:

*   For loop. Ke dalam bentuk output biasa, seluruh value pada list dapat ditampilkan pada for loop
*   In. Fungsi ini biasanya dipasangkan pada if untuk mengetahui apakah terdapat sebuah value pada list.
*   Length. Fungsi ini digunakan untuk mencari panjang dictionary.



Demonstrasi kode dapat dilihat di bawah:

In [29]:
identity = {
    'name': 'Andreas',
    'age': 27,
    'hobby': 'Piano',
    'gender': 'Male',
    'class': '2A'
}

for val in identity.values():
  print(val)

for key,val in identity.items():
  print("{}={}".format(key,val))

Andreas
27
Piano
Male
2A
name=Andreas
age=27
hobby=Piano
gender=Male
class=2A

### NESTED DICTIONARY

Nested dictionary merupakan dictionary dalam dictionary, sama seperti list. Key pada dictionary berisi dictionary baru yang terdiri dari sejumlah sub-key dan sub-value.

In [33]:
identity = {
    'name': 'Andreas',
    'age': 27,
    'hobby': {1:'Piano', 2:'Cycling', 3:'Gaming'},
    'gender': 'Male',
    'class': '2A'
}

print(identity['hobby'])
print('\n')
for key,val in identity['hobby'].items():
  print("{} = {}".format(key,val))

{1: 'Piano', 2: 'Cycling', 3: 'Gaming'}


1 = Piano
2 = Cycling
3 = Gaming

## TUPLE

Tuple dapat dideskripsikan sebagai Collection Data Type dimana valuenya tidak dapat diganti(immutable). Tuple dinotasikan dengan tanda kurung (()). Fungsi untuk memanipulasi list seperti penambahan, pengurangan dan pembacaan value juga dapat digunakan untuk tuple.

In [35]:
identity=('Andreas',27,'Piano')
print(identity)
print(type(identity))

('Andreas', 27, 'Piano')
<class 'tuple'>

## SET

Set, merupakan Collection Data Type yang tidak mempunyai urutan index tersendiri, dan juga tidak mendukung adanya nilai duplikat. Dalam bahasa matematika, Set disebut himpunan, dan operasi-operasi untuk matematika justru digunakan untuk dua lebih set. Set dinotasikan dengan kurung kurawal ({}) tanpa pasangan key-value pada dictionary.

Asumsikan ada dua buah set untuk kode di bawah:

In [36]:
setA = {'a','b','c','d'}
setB = {'c','d','e','f'}

print(setA)
print(setB)
print(type(setA))

{'d', 'c', 'a', 'b'}
{'d', 'c', 'e', 'f'}
<class 'set'>

Kurang lebih fungsi untuk Set hampir sama seperti Dict dan List, tetapi ada sedikit perbedaan: pada fungsi untuk menghapus value pada set, terdapat discard dan remove, tujuannya sama, tetapi remove akan menghasilkan nilai error jika tidak ada value pada set, sedangkan discard tidak.

Untuk metode-metode khusus pada set, berikut dilampirkan contohnya:


*   Difference untuk menampilkan value yang berbeda pada dua set, hanya pada perspektif pada satu set, yang tidak melibatkan intersection/irisan.
*   Symmetric difference untuk menampilkan value yang berbeda pada dua set secara simetris.
*   Intersection, yang merupakan irisan pada set 1 dan 2, yang berarti nilai yang sama pada set-set tersebut.
*   Union, yang merupakan gabungan semua nilai yang tercantum pada set 1 dan 2, termasuk intersection/irisan.

Berikut contoh-contohnya dalam kode:

In [38]:
setA = {'a','b','c','d'}
setB = {'c','d','e','f'}

print(setA)
print(setB)

print(f"setA difference setB = {setA.difference(setB)}")
print(f"setB difference setA = {setB.difference(setA)}")
print(f"setA symmetric difference setB = {setA.symmetric_difference(setB)}")
print(f"setA intersection setB = {setA.intersection(setB)}")
print(f"setA union setB = {setA.union(setB)}")

{'d', 'c', 'a', 'b'}
{'d', 'c', 'e', 'f'}
setA difference setB = {'a', 'b'}
setB difference setA = {'e', 'f'}
setA symmetric difference setB = {'a', 'e', 'b', 'f'}
setA intersection setB = {'d', 'c'}
setA union setB = {'c', 'f', 'd', 'a', 'e', 'b'}

## FUNCTION

Dalam Python, Function merupakan sebuah kode yang hanya dijalankan ketika sebuah fungsi itu disebut. Biasanya digunakan untuk menghemat space code pada main code yang akan dijalankan.

In [39]:
def fungsiku():
  print("Hello World!")

In [41]:
def fungsiku():
  print("Hello World!")

fungsiku()

Hello World!

Sebuah argumen dapat dijalankan didalam tanda kurung pada function.
Contoh kode dapat dilihat di bawah:

In [43]:
def fungsiku(nama):
  print(f"Selamat datang, {nama}")

fungsiku("Zeta")
fungsiku("Gamma")
fungsiku("Alpha")

Selamat datang, Zeta
Selamat datang, Gamma
Selamat datang, Alpha

Argumen atau parameter dapat bernilai dua atau lebih. Mencantumkan satu atau kurang pada fungsi yang mengharuskan kesesuaian parameter dapat mengakibatkan error pada program.

In [44]:
def fungsiku(awal, akhir):
  print(f"Selamat datang, {awal} {akhir}")

fungsiku("Zeta", "Delapan")
fungsiku("Gamma", "Vasco da")
fungsiku("Alpha", "Yngween")

Selamat datang, Zeta Delapan
Selamat datang, Gamma Vasco da
Selamat datang, Alpha Yngween

### ARBITRARY ARGUMENT

Jika kita tidak tahu berapa parameter yang ingin dimasukkan ke dalam fungsi, kita bisa menetapkan sebuah paramenter dengan satu atau dua asterisk di belakang argumen/parameter. Perbedaannya, satu argumen menghasilkan tuple dan dua menghasilkan dictionary.

In [47]:
def fungsiku(*nama):
    print("Namaku adalah " + nama[1])

fungsiku("Andreas", "Hoffman", "Parulian")

Namaku adalah Hoffman

# SQL

SQL, dengan sebutannya Structured Query Language merupakan sebuah bahasa pemrograman yang digunakan untuk memanipulasi dan menyimpan isi data ke dalam database. Basis dalam SQL disebut RDBMS, yang disebut Relational Database Management System di mana Database mempunyai sejumlah hubungan kolom.

Tidak seperti Python, kode pada SQL tidak bersifat case-sensitive, berarti huruf besar/kecil tidak berpengaruh selagi notasi untuk menampilkan database atau tabel ditampilkan sesuai dengan database yang ada.

SQL biasanya digunakan oleh program untuk pencarian data yang disebut dengan MySQL workbench.

Berikut merupakan contoh syntax pada SQL beserta notasinya:

In [ ]:
use world;
# Digunakan untuk menggunakan sebuah database.

Select * from City;
# Select * = pilih semua
# * from City = dari tabel City

select name, region, surfacearea
 from Country;
# Select name, region, surfacearea = pilih kolom name, region dan surface
# * from City = dari tabel City

select Name as NamaNegara,
Region as Benua,
SurfaceArea as LuasArea from Country order by Name desc
limit 10;
# Select name sebagai NamaNegara pada table
#, region sebagai Benua pada table dan surfacearea sebagai LuasArea pada table
# * from City = dari tabel City

select name as NamaNegara, Population as Populasi from city order by Population desc
limit 10;
# Select name sebagai NamaNegara dan Population sebagai Populasi dari city
# diurutkan dari Population descending batas 10 teratas.